[Unit]
Description={{ DESCRIPTION }}
After=network.target

[Service]
EnvironmentFile=-/etc/{{ PROGRAM_NAME }}/env
Type=simple
ExecStart={{ PROGRAM }} $OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
