[Unit]
Description={{ PROGRAM_DESCRIPTION }}
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/{{ PROGRAM_NAME }}
Type=simple
ExecStart={{ PROGRAM }} $EOSIO_API_HEALTCHECK_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
