Source: antelope-api-healthcheck
Section: introspection
Build-Depends:
 debhelper (>= 11)
Standards-Version: 4.5.0
Vcs-Git: https://github.com/eosswedenorg/antelope-api-healthcheck.git
Vcs-Browser: https://github.com/eosswedenorg/antelope-api-healthcheck
Priority: optional
Maintainer: Henrik Hautakoski <henrik@eossweden.org>

Package: antelope-api-healthcheck
Section: introspection
Priority: optional
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: https://github.com/eosswedenorg/antelope-api-healthcheck
Description: HAproxy healthcheck program for Leap API.
 This package provides all the files needed to
 run the antelope-api-healthcheck TCP Server
