#!/usr/bin/make -f

include /usr/share/dpkg/default.mk

INSTALL_FLAGS := PREFIX=/usr GOOS=linux GOBUILDFLAGS="-v --buildmode=pie -ldflags=\"-v -s -w -X main.VersionString=$(DEB_VERSION)\""

%:
	dh $@ -P debian/pkgroot

override_dh_auto_build:
override_dh_auto_install:
	dh_auto_install --buildsystem=makefile -- $(INSTALL_FLAGS)

override_dh_usrlocal:
override_dh_gconf:
